@forward "variables";
@import "@/assets/scss/_variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@200;300;400;600&display=swap');


@mixin list-flex {
  display: flex;
  flex-direction: column;
}

@mixin stretched-flex{
  display: flex;
	justify-content: space-between;
  gap: 10px;
}
